<!DOCTYPE html>
<html>
<head>
<style>

.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c49595;
}

tr:hover {background-color: rgb(153, 230, 182);}
</style>
</style>
</head>
<body style="background-color:rgb(209, 155, 209);">
    <div class="header">
        <h1>History</h1>
      </div>


<table>
  <tr style="background-color: rgb(121, 192, 51);">

    <th>Id</th>
    <th>Patient Name</th>
    <th>Age</th>
    <th>Patient Phone Number</th>
    <th>Patient Email-Id</th>
    <th>Problem</th>
    <th>Daignosis</th>
    <th>Referred to</th>
    <th>Date of Referring</th>
    <th>Status</th>

  </tr>
  <tr>
    <td>1</td>
    <td>Athiya Chopra</td>
    <td>28</td>
    <td>9876549900</td>
    <td>AthiyaChopra@gmail.com</td>
    <td>Obseity</td>
    <td>Body Mass Index</td>
    <td>Dr.RK Garg</td>
    <td>02-05-2023</td>
    <td>Unpaid</td>
  </tr>

  <tr>
    <td>2</td>
    <td>Ayushman Gupta</td>
    <td>15</td>
    <td>9988768400</td>
    <td>ayushmann28@gmail.com</td>
    <td>Malaria</td>
    <td>Blood test<br>Platelete count</td>
    <td>Dr.Parmod</td>
    <td>13-04-2023</td>
    <td>Unpaid</td>
    
  </tr>

  <tr>
    <td>3</td>
    <td>Deepika Shetty</td>
    <td>25</td>
    <td>9536396000</td>
    <td>shettydeepika@gmail.com</td>
    <td>PCOS</td>
    <td>Blood test<br>UltraSound</td>
    <td>Dr.Kharb</td>
    <td>26-02-2023</td>
    <td>Unpaid</td>
    
  </tr>

  <tr>
    <td>4</td>
    <td>Ranveer Singh</td>
    <td>32</td>
    <td>8976654599</td>
    <td>ranveer@gmail.com</td>
    <td>Kidney Stone</td>
    <td>Ultrasound</td>
    <td>Dr.Kiran Singh</td>
    <td>27-12-2022</td>
    <td>Unpaid</td>
   
  </tr>

  <tr>
    <td>5</td>
    <td>Salman Khan</td>
    <td>32</td>
    <td>7682926990</td>
    <td>Salman@gmail.com</td>
    <td>Harmonal Disbalance</td>
    <td>Blood Test</td>
    <td>Dr.Kharb</td>
    <td>25-12-2022</td>
    <td>Paid</td>
   
  </tr>

  <tr>
    <td>6</td>
    <td>Nikita ahuja</td>
    <td>27</td>
    <td>678954543</td>
    <td>nikitaahuja@gmail.com</td>
    <td>Hairline Fracture</td>
    <td>X-Ray</td>
    <td>Dr.Arjun Kumar</td>
    <td>15-10-2022</td>
    <td>Paid</td>
   
  </tr>

  <tr>
    <td>7</td>
    <td>Alia Kapoor</td>
    <td>42</td>
    <td>999954543</td>
    <td>Kapooralia@gmail.com</td>
    <td>Heart Attack</td>
    <td>MRI</td>
    <td>Dr.Manoj Dubey</td>
    <td>02-09-2022</td>
    <td>Paid</td>
  </tr>

  <tr>
    <td>8</td>
    <td>Mahesh Bhatt</td>
    <td>39</td>
    <td>999954000</td>
    <td>maheshbhatt@gmail.com</td>
    <td>Heart Attack</td>
    <td>MRI</td>
    <td>Dr.Manoj Dubey</td>
    <td>11-06-2022</td>
    <td>Paid</td>
   
  </tr>

  <tr>
    <td>9</td>
    <td>Surya Kumar</td>
    <td>22</td>
    <td>9996545678</td>
    <td>surya67@gmail.com</td>
    <td>Panic Disorder</td>
    <td>GP</td>
    <td>Dr.Mreenali</td>
    <td>02-06-2022</td>
    <td>Paid</td>
  </tr>

  <tr>
    <td>10</td>
    <td>Hemant Tiwari</td>
    <td>34</td>
    <td>89766545678</td>
    <td>tiwarihemant@gmail.com</td>
    <td>Kidney Infection</td>
    <td>Blood Sample</td>
    <td>Dr.Arjun Kumar</td>
    <td>24-05-2022</td>
    <td>Paid</td>
  </tr>

  <tr>
    <td>11</td>
    <td>Kritika Alohia</td>
    <td>01</td>
    <td>88866545678</td>
    <td>myraalohia@gmail.com</td>
    <td>Pneumonia</td>
    <td>Chest X-Ray</td>
    <td>Dr.Surbhi</td>
    <td>13-12-2021</td>
    <td>Paid</td>
  </tr>

  <tr>
    <td>12</td>
    <td>Vedika Pahwa</td>
    <td>45</td>
    <td>9999215678</td>
    <td>Vpahwa@gmail.com</td>
    <td>Bladder Cancer</td>
    <td>cystoscopy</td>
    <td>Dr.Kharb</td>
    <td>21-07-2021</td>
    <td>Paid</td>
  </tr>


  </table>
  </body>
  </html>
