<!DOCTYPE html>
<html>
<head>
<style>

.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e79a9a;
}

tr:hover {background-color: rgb(153, 230, 182);}
</style>
</style>
</head>
<body style="background-color:rgb(163, 164, 235);">
    <div class="header">
        <h1>Today's Entry </h1>
      </div>


<table>
  <tr style="background-color: rgb(121, 192, 51);">

    <th>Id</th>
    <th>Patient Name</th>
    <th>Age</th>
    <th>Patient Phone Number</th>
    <th>Patient Email-Id</th>
    <th>Problem</th>
    <th>Daignosis/Symptoms</th>
    <th>Referred by</th>
    <th>Doctor Incharge</th>

  </tr>
  <tr>
    <td>1</td>
    <td>Athiya Chopra</td>
    <td>28</td>
    <td>9876549900</td>
    <td>AthiyaChopra@gmail.com</td>
    <td>Obseity</td>
    <td>Body Mass Index</td>
    <td></td>
    <td>Dr.RK Garg</td>
  </tr>

  <tr>
    <td>2</td>
    <td>Ayushman Gupta</td>
    <td>15</td>
    <td>9988768400</td>
    <td>ayushmann28@gmail.com</td>
    <td>Malaria</td>
    <td>Blood test<br>Platelete count</td>
    <td>Dr.Shilpa</td>
    <td>Dr.Parmod</td>

  </tr>

  <tr>
    <td>3</td>
    <td>Deepika Shetty</td>
    <td>25</td>
    <td>9536396000</td>
    <td>shettydeepika@gmail.com</td>
    <td>PCOS</td>
    <td>Blood test<br>UltraSound</td>
    <td>Dr.SK Tiwari</td>
    <td>Dr.Kharb</td>

  </tr>

  <tr>
    <td>4</td>
    <td>Ranveer Singh</td>
    <td>32</td>
    <td>8976654599</td>
    <td>ranveer@gmail.com</td>
    <td>Kidney Stone</td>
    <td>Ultrasound</td>
    <td></td>
    <td>Dr.Kiran Singh</td>

  </tr>

  <tr>
    <td>5</td>
    <td>Salman Khan</td>
    <td>32</td>
    <td>7682926990</td>
    <td>Salman@gmail.com</td>
    <td>Harmonal Disbalance</td>
    <td>Blood Test</td>
    <td>Dr.Sandeep Singh</td>
    <td>Dr.Kharb</td>

  </tr>

  <tr>
    <td>6</td>
    <td>Nikita ahuja</td>
    <td>27</td>
    <td>678954543</td>
    <td>nikitaahuja@gmail.com</td>
    <td>Hairline Fracture</td>
    <td>X-Ray</td>
    <td></td>
    <td>Dr.Arjun Kumar</td>

  </tr>

  <tr>
    <td>7</td>
    <td>Alia Kapoor</td>
    <td>42</td>
    <td>999954543</td>
    <td>Kapooralia@gmail.com</td>
    <td>Heart Attack</td>
    <td>MRI</td>
    <td></td>
    <td>Dr.Manoj Dubey</td>

  </tr>

  <tr>
    <td>8</td>
    <td>Mahesh BHatt</td>
    <td>39</td>
    <td>999954000</td>
    <td>maheshbhatt@gmail.com</td>
    <td>Heart Attack</td>
    <td>MRI</td>
    <td></td>
    <td>Dr.Manoj Dubey</td>

  </tr></table>
</body>
</html>

